.toolbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: white;
}

.left-buttons {
	display: flex;
}

.button {
	margin-right: 10px;
	padding: 5px 10px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	text-decoration: none;
	color: #6c757d;
}

.active-button {
	color: black;
}

.button:last-child {
	margin-right: 0;
}

.right-button {
	padding: 5px 10px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	text-decoration: none;
	color: #6c757d;
}

.load-more {
	text-decoration: none;
	color: #00afdb;
}
.card-sub {
	color: #fada5e;
}

.my-card:hover {
	cursor: pointer;
	background-color: #f4faf9;
}

.blank-card {
	background-color: #f4faf9;
	text-align: center;
	min-height: 400px;
}

.custom-button {
	background-color: #4682b4;
	color: #fff;
	padding: 5px 20px;
	border-radius: 5px;
	border-color: #4682b4;
}
